body {
  color: #484848;
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Block horizontal scrolling */
html, body {
  overflow-x: hidden;
  width: 100%;
}

/* Container style */
.container {
  max-width: 1000px;
  margin: 30px auto;
}

/* Strong style */
strong {
  font-weight: bold;
}
